
<div class="full-bg-img" style="background-image: url(https://cn.ambafrance.org/IMG/arton23179.jpg?1569227198);background-size: cover;
background-repeat: no-repeat;">
    <header class="intro-header">


        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">


            <ul class="navbar-nav mr-auto">
                <li class="nav-item active waves-light" mdbWavesEffect>
                    <a class="nav-link" href="/">Acceuil <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" href="/rendezvous">Rendez-vous</a>
                </li>

                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" href="/examen">Examen</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" href="/Medicament">Medicament</a>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" href="/patient">Patient</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" href="/antecedent">Antecedents</a>
                </li>
            </ul>


        </nav>
    </header>
    <hr>
    <hr>

    <div class="body">
        <h1>Liste des Prescriptions</h1>
        <hr>
        <hr>
        <hr>
        <table class="table" class="table table-borderless">
            <thead class="thead-dark">
                <tr>
                    <th>Medicament prescrit</th>
                    <th>Dosage</th>
                    <th>Présentation</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <hr>
            <tbody class="tody-light">
                <tr *ngFor="let m of listeMedicaments; let i=index">

                    <td>{{m.nomMedicament}}</td>
                    <td>{{m.dosageMedicament}}</td>
                    <td>{{m.presentationMedicament}}</td>
                    <td><button type="submit" (click)="deleteMedicament(m.numMedicament,i)"><i
                                class="far fa-trash-alt"></i></button></td>
                    <td><button type="submit" (click)="updateMedicament(m,i)"><i class="fas fa-edit"></i></button></td>
                </tr>
            </tbody>
        </table>


        <h1>Ajouter une prescription</h1>
        <hr>
        <div class="row">

            <form [formGroup]="newPrescription" (ngSubmit)="logForm()">
                <div class="col sm-4">
                    <div class="form-group" formGroupName="pk"><label>
                            <h6>Nom du médicament</h6>
                        </label>
                        <select class="form-control" formControlName="codeMedicament">
                            <option *ngFor="let m of listeMedicaments" [ngValue]="m.codeMedicament">{{m.nomMedicament}}</option>
                        </select>

                 <div class="col sm-4">
                    <!-- <div class="form-group" formGroupName="ordonnance"> -->
                        <label><h6>Ordonnance associée</h6>
                                </label>
                                <select class="form-control" formControlName="numOrdo">
                                    <option *ngFor="let o of listeOrdonnances" [ngValue]="o.numOrdo">{{o.numOrdo}}</option>
                                </select>
                    <!-- </div> -->
                </div>                    </div>
            </div>
                <div class="col sm-4">
                    <div class="form-group"><label>
                            <h6>Quantité</h6>
                        </label>
                        <input type="text" class="form-control" formControlName="quantMedicament">
                    </div>
                </div>
                <div class="col sm-4">
                    <div class="form-group"><label>
                            <h6>Fréquence</h6>
                        </label>
                        <input type="text" class="form-control" formControlName="freqMedicament"></div>
                </div>

                <div class="col sm-4">
                    <div class="form-group"><label>
                            <h6>Format</h6>
                        </label>
                        <input type="text" class="form-control" formControlName="formatMedicament"></div>
                </div>
                <button class="btn btn-dark" type="submit">Valider</button>
            </form>
         </div>
    </div>
</div>