        

<header class="intro-header">

      
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
     
     
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active waves-light" mdbWavesEffect>
            <a class="nav-link" href="/formajoutsec">Accueil</a> 
          </li>
          
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="/patientsec">Patients</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" href="/rendezvous">Rendez-Vous</a>
  </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="/cnam"> Dossiers CNAM</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="/caisse">Comptes cabinet</a>
          </li>
          <div class = "col sm-4">
            <form class="form-inline waves-light" mdbWavesEffect>
              <div class="md-form">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              </div>
            </form>
          </div>

        </ul>
       
    
    </nav>
  </header>
  
                <br>
                <br>    

 <mat-horizontal-stepper>
                        <!-- Nouveau patient -->
              

                 <div class = "col sm-3">
 <mat-step label="Nouveau patient">


    <form [formGroup]="newPatient" (ngSubmit)="logForm()">
        <hr>
        <div class="form-row">
        <div class="col sm-4">
        <div class="form-group"><label><h6>CIN</h6></label>
            <input type="text" style="width:300px" placeholder="CIN" class="form-control" formControlName="cin"></div>
        </div>
        <div class="col sm-4">
            <div class="form-group-plaintext"><label><h6>Nom </h6></label>
                <input type="text" style="width:300px" placeholder="Nom" class="form-control" formControlName="nomPatient"></div>
        </div>
    </div>
        <div class="form-row">

        <div class="col sm-4">
        <div class="form-group"><label><h6>Sexe</h6></label>
            <input type="text" style="width:300px" placeholder="Sexe" class="form-control" formControlName="sexePatient"></div>
        </div>
        <div class="col sm-4">
        <div class="form-group"><label> <h6>Adresse </h6></label>
            <input type="text" style="width:300px" placeholder="Adresse" class="form-control" formControlName="adressePatient"></div>
        </div>
    </div>
    <div class="form-row">
        <div class="col sm-4">
        <div class="form-group"><label><h6>Telephone </h6></label>
            <input type="text" style="width:300px" placeholder="Telephone"  class="form-control" formControlName="telPatient"></div>
        </div>
        <div class="col sm-2">
        <div class="form-group"><label> <h6>Metier</h6></label>
            <input type="text" style="width:300px" placeholder="Metier" class="form-control" formControlName="metierPatient"></div>
        </div>
    </div>
    <div class="form-row">
        <div class="col sm-2">
        <div class="form-group"><label><h6>Date de naissance</h6></label>
            <input type="date" style="width:300px" class="form-control" formControlName="dateNaissancePatient"></div>
        
        </div>
        <div class="col sm-2">
            <div class="form-group" formGroupName="p"><label> <h6>Numéro CNAM Patient</h6></label>
                <select class="form-control" style="width:300px" formControlName="numSecuPatient"> <option *ngFor="let p of listecnam" [ngValue]="p.numSecuPatient">{{p.numSecuPatient}}</option></select></div>

        </div>
    </div>
    
    <!-- <div class='row'> 
      <div class='col-sm 6'> -->
      <button mat-button matStepperPrevious type="button" (click)="updatePatient()" class="btn btn-primary">Retour</button>
     &nbsp;
       <!-- </div>     <div class='col-sm 6'> -->
        <button mat-button matStepperNext type="button" (click)="logForm()" class="btn btn-primary">Valider</button>
      <!-- </div> -->
    <!-- </div> -->
    </form>             
            
 </mat-step>

</div>


       

        <!-- Nouveau rdv-->
       <div class = "col sm-6">
        
<mat-step label="Nouveau rendez-vous">

       <form [formGroup]="newRendezvous" (ngSubmit)="logForm()">

        <div class="form-group"><label><h6>Presence</h6></label>
            <input type="text" style="width:300px" class="form-control" formControlName="presenceRdv"></div>
            <div class="form-group"><label><h6>Date du rdv</h6></label>
                <input type="date" style="width:300px" class="form-control" formControlName="dateRdv"></div>      
        <div class="form-group" formGroupName="p"><label> <h6>Patient</h6></label>
            <select class="form-control" style="width:300px" formControlName="numPatient"> <option *ngFor="let p of listePatients" [ngValue]="p.numPatient">{{p.numPatient}}</option></select></div>
 
        <hr>
        <div>
            <button mat-button matStepperPrevious type="button" (click)="updatePatient()" class="btn btn-primary">Retour</button>
          
            &nbsp;
            <button mat-button matStepperNext type="button" (click)="logForm()" class="btn btn-primary">Valider</button>
          </div>
    </form>
</mat-step>
</div>

<!-- <CNAM--> 
        
<mat-step label="Nouveau dossier CNAM">

<form [formGroup]="newCNAM" (ngSubmit)="logForm()">
    <!-- <div class="form-group"><label>Code</label>
        <input type="text" class="form-control" formControlName="NumRdv"></div> -->
    <div class="form-group"><label><h6>Date de Validité</h6></label>
        <input type="date" style="width:300px" class="form-control" formControlName="dateValidite"></div>
        <div class="form-group"><label><h6>Type de CNAM</h6></label>
            <input type="text" style="width:300px" class="form-control" formControlName="typeCNAM"></div>      
            <div class="form-group"><label><h6>Taux</h6></label>
                <input type="text" style="width:300px" class="form-control" formControlName="taux"></div>      
        
                <div>
                    <button mat-button matStepperPrevious type="button" (click)="updateRendezvous()" class="btn btn-primary">Retour</button>
                  
                    &nbsp;
                    <button mat-button matStepperNext type="button" (click)="logForm()" class="btn btn-primary">Valider</button>
                  </div>
    

</form>
</mat-step>

<!-- <Gestion comptes></Gestion> -->
<mat-step label="Gestion comptes cabinet">
    <form [formGroup]='newType' (ngSubmit)="addType()">
        <div class="col sm-4"><label>
            <h6>Type de caisse</h6>
          </label>
          <select class="form-control" style="width:300px" formControlName="type_caisse">
            <option value="Recettes">Recettes</option>
            <option value="Depenses">Depenses</option>
            <option value="Impayes">Impayes</option>
          </select></div>
          <hr>
          <hr>
        <button type="submit" class="btn btn-primary">Soumettre</button>
        &nbsp;
        <button mat-button matStepperPrevious type="button" (click)="updateCNAM()" class="btn btn-primary">Retour</button>
      </form>
    <div *ngIf="newCaisse.controls['type_caisse'].value!=null">
        <form [formGroup]="newCaisse" (ngSubmit)="addCaisse()">
    
       
              <div *ngIf="newCaisse.controls['type_caisse'].value=='Recettes'">
                
    <div class="col sm-4">
              <div class="form-group" formGroupName="consult"><label>
                  <h6>Consultation</h6>
                </label>
                <select class="form-control" style="width:300px" formControlName="numCons">
                  <option *ngFor="let c of listeConsultations" [ngValue]="c.numCons">{{c.numCons}} ; {{c.p.nomPatient}}</option>
                </select></div>
            </div>
            <div class="col sm-4">
              <div class="form-group"><label>
                  <h6>Date de la recette </h6>
                </label>
                <input type="date" style="width:300px" class="form-control" formControlName="dateRecette"></div>
            </div>
            <div class="col sm-4">
                <div class="form-group"><label><h6>Type de recette</h6></label>
                    <input type="text" style="width:300px" class="form-control" formControlName="typeRecette"></div>
          </div>
          <div class="col sm-4">
            <div class="form-group"><label><h6>Montant</h6></label>
                <input type="text" style="width:300px" class="form-control" formControlName="montant"></div>
      </div>
              </div>  
           
    
            <div *ngIf="newCaisse.controls['type_caisse'].value=='Depenses'">
              <div class="col sm-4">
                <div class="form-group"><label>
                <hr>
                <hr>
                    <h6>Date de la dépense </h6>
                  </label>
                  <input type="date" style="width:300px" class="form-control" formControlName="dateDepense"></div>
              </div>
              <div class="col sm-4">
                  <div class="form-group"><label><h6>Motif</h6></label>
                      <input type="text" style="width:300px" class="form-control" formControlName="motifDepense"></div>
            </div>
            <div class="col sm-4">
              <div class="form-group"><label><h6>Montant</h6></label>
                  <input type="text" style="width:300px" class="form-control" formControlName="montant"></div>
        </div>
            </div>
            <div *ngIf="newCaisse.controls['type_caisse'].value=='Impayes'">
              <div class="col sm-4">
                <div class="form-group" formGroupName="consult"><label>
                   <hr> <hr> <h6>Consultation</h6>
                  </label>
                  <select class="form-control" style="width:300px" formControlName="numCons">
                    <option *ngFor="let c of listeConsultations" [ngValue]="c.numCons">{{c.numCons}} ; {{c.p.nomPatient}}</option>
                  </select></div>
              </div>
                <div class="col sm-4">
                  <div class="form-group"><label><h6>Montant</h6></label>
                      <input type="text" style="width:300px" class="form-control" formControlName="montant"></div>
            </div>
            
          </div>
         
      
      
          <hr>
          <hr>
          <div>
            <button mat-button matStepperPrevious type="button" (click)="addType()" class="btn btn-primary">Retour</button>
            &nbsp;
            <button mat-button matStepperNext type="button" (click)="addCaisse()" class="btn btn-primary">Valider</button>
          </div>
        </form>
        </div>
        </mat-step>

     

 



</mat-horizontal-stepper>
