
<header class="intro-header">

      
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
   
   
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbWavesEffect>
          <a class="nav-link" href="/formulaireajout">Accueil <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/rendezvousmed">Mes rendez-vous</a>
    </li>
       

          <li class="nav-item  waves-light" mdbWavesEffect>
              <a class="nav-link" href="/patient"> Mes patients</a>
        </li>
        <div class = "col sm-4">
          <form class="form-inline waves-light" mdbWavesEffect>
            <div class="md-form">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
          </form>
        </div>


      </ul>
     
  
  </nav>
</header>

<br>

<br>
<!-- <hr>
<hr>
<hr>
                -->

                    

                    <mat-horizontal-stepper [linear]= "true" #stepper>
                           <!-- NOUVELLE CONSULTATION -->
                   <div class = "row">

                    <div class = "col sm-3">
    <mat-step label="Nouvelle Consultation">

        <form [formGroup]="newConsultation" (ngSubmit)="logForm()">
      
            <div class="form-group"><label><h6>Date de Consultation</h6></label>
                <input type="date" style="width:300px" class="form-control" formControlName="dateCons" ></div>
                <div class="form-group"><label><h6>Motif</h6></label>
                    <input type="text" style="width:300px" class="form-control" formControlName="motifCons"></div>      
                    <div class="form-group"><label><h6>Diagnostic</h6></label>
                        <input type="text" style="width:300px" class="form-control" formControlName="diagnostique"></div>
                        <div class="form-group" formGroupName="p"><label> <h6>Patient</h6></label>
                          <select class="form-control" style="width:300px" formControlName="numPatient"> <option *ngFor="let p of listePatients" [ngValue]="p.numPatient">{{p.numPatient}}</option></select></div>      
    
        </form>
        <br>              
                <button mat-button matStepperNext type="button" class="btn btn-primary" (click)="logForm()" >Valider</button>
    </mat-step>

  </div>

<div class = "col sm-3">




                                <!-- EDITER UN ACTE -->

    <mat-step label="Editer un Acte">
        <form [formGroup]="newActe" (ngSubmit)="logForm()">
            <div class="col sm-4">
                <div class="form-group"><label>
                        <h6>Code </h6>
                    </label>
                    <input type="text" style="width:300px" class="form-control" formControlName="codeActe"></div>
            </div>
            <div class="col sm-4">
                <div class="form-group"><label>
                        <h6>Tarif</h6>
                    </label>
                    <input type="text" style="width:300px" class="form-control" formControlName="tarifActe"></div>
            </div>
            <div class="col sm-4">
                <div class="form-group" formGroupName="consult"><label>
                        <h6>Consultation</h6>
                    </label>
                    <select class="form-control" style="width:300px" formControlName="numCons">
                        <option *ngFor="let c of listeConsultations" [ngValue]="c.numCons">{{c.numCons}}</option>
                    </select></div>
                        </div>
<br>
        </form>
        <div>
            <button mat-button matStepperPrevious type ="button" class="btn btn-primary" (click) = "updateConsultation()">Retour</button>
            <button mat-button matStepperNext type="button" class="btn btn-primary" (click)="logForm()" >Valider</button>
          </div>
    </mat-step>

  </div>

  <div class = "col sm-3">
                                <!-- EDITER UNE ORDONNANCE -->



    <mat-step label="Editer une ordonnance">
        <form [formGroup]="newOrdonnance">
            <div class="form-group"><label>
                <h6>Date Ordonnance</h6>
              </label>
              <input type="date" style="width:300px" class="form-control" formControlName="dateOrdo"></div>
            <div class="form-group" formGroupName="consult"><label>
                <h6>Consultation associée</h6>
              </label>
              <select class="form-control" style="width:300px" formControlName="numCons">
                <option *ngFor="let consult of listeConsultations" [ngValue]="consult.numCons">{{consult.numCons}}
                </option>
              </select></div>
            </form>


              <!-- MEDICAMENT -->

          
          <br>
          <form [formGroup]="newPrescription">
            <mat-accordion>
              <mat-expansion-panel *ngFor="let item of medocs; let i = index">
                <button (click)="removemed(i)" class="btn btn-danger pull-right"><i class="fa fa-trash"></i>
                  Supprimer médicament</button>
<hr>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Medicament {{i +1}}
                  </mat-panel-title>

                </mat-expansion-panel-header>

                <div class="form-group" formGroupName="{{i}}">
                  <div class="panel-body">
                    <div class="row">

                      <div class="col sm-4">
                        <div class="form-group" formGroupName="pk"><label>
                            <h6>Nom du médicament</h6>
                          </label>
                          <select class="form-control" formControlName="codeMedicament">
                            <option *ngFor="let m of listeMedicaments" [ngValue]="m.codeMedicament">
                              {{m.nomMedicament}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col sm-4">
                        <div class="form-group"><label>
                            <h6>Quantité</h6>
                          </label>
                          <input type="text" class="form-control" formControlName="quantMedicament">
                        </div>
                      </div>
                      <div class="col sm-4">
                        <div class="form-group"><label>
                            <h6>Fréquence</h6>
                          </label>
                          <input type="text" class="form-control" formControlName="freqMedicament"></div>
                      </div>

                      <div class="col sm-4">
                        <div class="form-group"><label>
                            <h6>Format</h6>
                          </label>
                          <input type="text" class="form-control" formControlName="formatMedicament"></div>
                      </div>
                    </div>
                  </div>
                </div>

              </mat-expansion-panel>

              <button (click)="addmed()" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Ajouter
                Medicament</button>

            </mat-accordion>
            <button class="btn btn-dark" data-dismiss="modal" (click)="addPrescription()">Valider</button>
          </form>
<br>

          <div>
            <button mat-button matStepperPrevious type ="button" class="btn btn-primary" (click)= "updateActe()">Retour</button>
            <button mat-button matStepperNext type="button"  class="btn btn-primary" (click)="logForm()">Valider</button>
          </div>
    </mat-step>

  </div>

  <div class = "col sm-3">

    
                                        <!-- EDITER UN EXAMEN -->


    <mat-step label="Editer un examen">
      <form [formGroup]='newType' (ngSubmit)="addType()">
        <div class="col sm-4"><label>
            <h6>Type d'examen</h6>
          </label>
          <select class="form-control" style="width:300px" formControlName="type">
            <option value="Clinique">Clinique</option>
            <option value="Complementaire">Complementaire</option>
          </select></div>
          <br>
        <button type="submit" class="btn btn-primary">Ajouter</button>
        "  "

        <button mat-button matStepperPrevious type = "button" class="btn btn-primary" (click) = "updateOrdonnance">Retour</button>
      </form>
      <div *ngIf="newExam.controls['type'].value!=null">
        <form [formGroup]="newExam" (ngSubmit)="addExam()">
          <div class="col sm-4">
            <div class="form-group" formGroupName="consult"><label>
                <h6>Consultation</h6>
              </label>
              <select class="form-control"style="width:300px" formControlName="numCons">
                <option *ngFor="let c of listeConsultations" [ngValue]="c.numCons">{{c.numCons}}</option>
              </select></div>
          </div>

          <div class="col sm-4">
            <div class="form-group"><label>
                <h6>Description </h6>
              </label>
              <textarea class="form-control" style="width:300px" formControlName="description"></textarea></div>
          </div>

          <div *ngIf="newExam.controls['type'].value=='Clinique'">

            <div class="col sm-4">
              <div class="form-group"><label>
                  <h6>Taille</h6>
                </label>
                <input type="text" style="width:300px" class="form-control" formControlName="taillePatient">
              </div>
            </div>

            <div class="col sm-4">
              <div class="form-group"><label>
                  <h6>Poids</h6>
                </label>
                <input type="text" style="width:300px" class="form-control" formControlName="poidsPatient">
              </div>
            </div>

            <div class="col sm-4">
              <div class="form-group">
                <label>
                  <h6>Tension</h6>
                </label>
                <input type="text" style="width:300px" class="form-control" formControlName="tensionPatient">
              </div>
            </div>

            <div class="col sm-4">
              <div class="form-group">
                <label>
                  <h6>Température</h6>
                </label>
                <input type="text" style="width:300px" class="form-control" formControlName="temperaturePatient">
              </div>
            </div>

          </div>

          <div *ngIf="newExam.controls['type'].value=='Complementaire'">
            <div class="col sm-4">
              <div class="form-group"><label>
                  <h6>Résa Examen </h6>
                </label>
                <input type="text" style="width:300px" class="form-control" formControlName="resaExamenComplementaire"></div>
            </div>
            <div class="col sm-4">
      
              <div>
                <h6>Photos examens</h6>
                <input type="file" formControlName="photExamenComplementaire" style="width:300px" (change)="onFileChanged($event)">
                <img [src]="imgURL" height="200" *ngIf="imgURL">
              </div>
              <hr>
              <input type="button" class="btn btn-primary" (click)="onUpload()" value="upload">
              <hr />
             

            </div>
          </div>

          <div>
            <button mat-button matStepperPrevious type = "button" class="btn btn-primary" (click) = "addType()">Retour</button>
            <button mat-button matStepperNext type="button" class="btn btn-primary" (click)="addExam()">Valider</button>
          </div>

          

        </form>


      </div>


      
    </mat-step>
  </div>
</div> 
  </mat-horizontal-stepper>
