<div class="full-bg-img" style="background-image: url(https://cn.ambafrance.org/IMG/arton23179.jpg?1569227198);background-size: cover;
background-repeat: no-repeat;">




  <header class="intro-header">


    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">


      <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbWavesEffect>
          <a class="nav-link" href="/">Acceuil <span class="sr-only">(current)</span></a> </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/rendezvous">Rendez-vous</a></li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/examen">Examen</a></li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/acte">Acte</a></li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/patient">Patient</a> </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/antecedent">Antecedents</a></li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/ordonnance">Ordonnance</a></li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/consultation">Consultation</a></li>
      </ul>


    </nav>
  </header>
  <hr>
  <hr>

  <h1>Ordonnances</h1>
  <hr>
  <hr>
  <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal">Ajouter une ordonnance</button>
  <hr>
  <hr>


  <h2>Liste des Ordonnances</h2>
  <hr>
  <hr>
  <table class="table table-borderless">
    <tr>

      <th>Date de l'ordonnance</th>
      <th>Numéro consultation associé</th>
      <th>Prescription Complète</th>
      <th>Edit</th>
    </tr>
    <tr *ngFor="let r of listeOrdonnances; let i=index">

      <td>{{r.dateOrdo | date :"short"}}</td>
      <td>{{r.consult.numCons}}</td>
      <td><button type="button" data-toggle="modal" [attr.data-target]="'#PrescModal'+r.numOrdo"
          (click)="getPresc(r.numOrdo)"><i class="fas fa-eye"></i></button></td>
      <td> <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal"
          (click)="updateOrdonnance(r,i)">Editer</button></td>

    </tr>

  </table>

  <!-- The Modal -->
  
    <div class="modal" id="myModal">

      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Ajouter/Editer</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <div class="modal-body">
            <h2>Ajouter une Ordonnance</h2>
            <hr>

            <form [formGroup]="newOrdonnance">
              <div class="form-group"><label>
                  <h6>Date Ordonnance</h6>
                </label>
                <input type="date" class="form-control" formControlName="dateOrdo"></div>
              <div class="form-group" formGroupName="consult"><label>
                  <h6>Consultation associée</h6>
                </label>
                <select class="form-control" formControlName="numCons">
                  <option *ngFor="let consult of listeConsultations" [ngValue]="consult.numCons">{{consult.numCons}}
                  </option>
                </select></div>
              <button class="btn btn-dark" type="button" (click)="logForm()" data-dismiss="modal"
                data-target="#medocmodal" data-toggle="modal">Valider</button>

            </form>
          </div>
        </div>


      </div>
    </div>


    <!-- The Modal -->
    <div class="modal" id="medocmodal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Prescrire</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <div class="modal-body">

            <form [formGroup]="newPrescription">
              <mat-accordion>
                <mat-expansion-panel *ngFor="let item of medocs; let i = index">
                  <button (click)="removemed(i)" class="btn btn-danger pull-right"><i class="fa fa-trash"></i>
                    Supprimer médicament</button>

                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Medicament {{i +1}}
                    </mat-panel-title>

                  </mat-expansion-panel-header>

                  <div class="form-group" formGroupName="{{i}}">
                    <div class="panel-body">
                      <div class="row">

                        <div class="col sm-4">
                          <div class="form-group" formGroupName="pk"><label>
                              <h6>Nom du médicament</h6>
                            </label>
                            <select class="form-control" formControlName="codeMedicament">
                              <option *ngFor="let m of listeMedicaments" [ngValue]="m.codeMedicament">
                                {{m.nomMedicament}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col sm-4">
                          <div class="form-group"><label>
                              <h6>Quantité</h6>
                            </label>
                            <input type="text" class="form-control" formControlName="quantMedicament">
                          </div>
                        </div>
                        <div class="col sm-4">
                          <div class="form-group"><label>
                              <h6>Fréquence</h6>
                            </label>
                            <input type="text" class="form-control" formControlName="freqMedicament"></div>
                        </div>

                        <div class="col sm-4">
                          <div class="form-group"><label>
                              <h6>Format</h6>
                            </label>
                            <input type="text" class="form-control" formControlName="formatMedicament"></div>
                        </div>
                      </div>
                    </div>
                  </div>

                </mat-expansion-panel>

                <button (click)="addmed()" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Ajouter
                  Medicament</button>

              </mat-accordion>
              <button class="btn btn-dark" data-dismiss="modal" (click)="addPrescription()">Valider</button>
            </form>
          </div>
        </div>
      </div>
    </div>


    <div *ngFor="let o of listeOrdonnances">
      <div class="modal" id="PrescModal{{o.numOrdo}}">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Prescription complète</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" >
              <table border="1" class="table table-hover ">
                <tr>
                  <th>Médicament Prescrit</th>
                  <th>Quantité</th>
                  <th>Fréquence</th>
                  <th>Format</th>
                </tr>

                <tr *ngFor="let p of listePrescParOrdo">
                  <td>{{p.medicament.nomMedicament}}</td>
                  <td>{{p.quantMedicament}}</td>
                  <td>{{p.freqMedicament}}</td>
                  <td>{{p.formatMedicament}}</td>
                </tr>


              </table>
            </div>

          </div>
        </div>
      </div>
    </div>



  </div>