<header class="intro-header">

      
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
     
     
        <ul class="navbar-nav mr-auto">
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
          </li>
          
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="/patientsec">Patients</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" href="/rendezvous">Rendez-Vous</a>
  </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="/cnam"> Dossiers CNAM</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="/caisse">Comptes cabinet</a>
      
        </ul>
       
    
    </nav>
</header>

<br>
<br>
<h1>Patients</h1>
<hr>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
crossorigin="anonymous">


    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>


<!-- <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal" >Ajouter un patient</button> -->

<!-- MOMO -->


<!-- <table class="table table-striped">
<thead>
    <tr>
    <th>Nom</th>
    <th>Sexe</th>
    <th>n°CNAM</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let p of listePatients; let i=index">
        <td>{{p.nomPatient}}</td>
        <td>{{p.sexePatient}}</td>
        <td>{{p.p.numSecuPatient}}</td>
        <td><a class="btn btn-primary" href="/formulaireajout">Nouvelle consultation</a></td>
        <td><button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#myModal'+p.numPatient" (click)="historique(p.numPatient)">Dernières consultations</button></td>
        <td><button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#myModalordo'+p.numPatient" (click)="historiqueordo(p.numPatient)">Dernières ordonnances</button></td>
        <td><button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#myModalant'+p.numPatient" (click)="historiqueant(p.numPatient)">Antécédants</button></td>      </tr>
</tbody>
</table> -->

<hr>
<table class="table table-striped">
    <tr>
        <th>CIN</th>
        <th>Nom</th>
        <th>Sexe</th>
        <th>Adresse</th>
        <th>Telephone</th>
        <th>Metier</th>
        <th>Date de naissance </th>
        <th>n°CNAM</th>
        <th>Supprimer</th>
        <th>Editer</th>
    </tr>
    <tr *ngFor="let p of listePatients; let i=index">
        <td>{{p.cin}}</td>
        <td>{{p.nomPatient}}</td>
        <td>{{p.sexePatient}}</td>
        <td>{{p.adressePatient}}</td>
        <td>{{p.telPatient}}</td>
        <td>{{p.metierPatient}}</td>
        <td>{{p.dateNaissancePatient | date :"short"}}</td>
        <td>{{p.p.numSecuPatient}}</td>
        <td><button class="btn btn-primary" type="submit" (click)="deletePatient(p.numPatient,i)">Supprimer</button></td>
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="updatePatient(p,i)">Editer</button></td>
    </tr>
</table>

<hr>
<a class="btn btn-primary" href="/formajoutsec">Nouveau patient</a>
<hr>
<hr>
<hr>

<div class="modal" id="myModal">
<div class="modal-dialog">
  <div class="modal-content">


    <div class="modal-header">
      <h4 class="modal-title">Editer</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

<div class="modal-body">


<form [formGroup]="newPatient" (ngSubmit)="logForm()">
    <hr>
    <div class="form-row">
    <div class="col sm-6">
    <div class="form-group"><label><h6>CIN</h6></label>
        <input type="text" placeholder="CIN" class="form-control" formControlName="cin"></div>
    </div>
    <div class="col sm-6">
        <div class="form-group-plaintext"><label><h6>Nom </h6></label>
            <input type="text" placeholder="Nom" class="form-control" formControlName="nomPatient"></div>
    </div>
</div>
    <div class="form-row">

    <div class="col sm-6">
    <div class="form-group"><label><h6>Sexe</h6></label>
        <input type="text" placeholder="Sexe" class="form-control" formControlName="sexePatient"></div>
    </div>
    <div class="col sm-6">
    <div class="form-group"><label> <h6>Adresse </h6></label>
        <input type="text" placeholder="Adresse" class="form-control" formControlName="adressePatient"></div>
    </div>
</div>
<div class="form-row">
    <div class="col sm-6">
    <div class="form-group"><label><h6>Telephone </h6></label>
        <input type="text" placeholder="Telephone"  class="form-control" formControlName="telPatient"></div>
    </div>
    <div class="col sm-6">
    <div class="form-group"><label> <h6>Metier</h6></label>
        <input type="text" placeholder="Metier" class="form-control" formControlName="metierPatient"></div>
    </div>
</div>
<div class="form-row">
    <div class="col sm-6">
    <div class="form-group"><label><h6>Date de naissance</h6></label>
        <input type="date" class="form-control" formControlName="dateNaissancePatient"></div>
    
    </div>
    <div class="col sm-6">
        <div class="form-group" formGroupName="p"><label> <h6>Numéro CNAM Patient</h6></label>
            <select class="form-control" formControlName="numSecuPatient"> <option *ngFor="let p of listecnam" [ngValue]="p.numSecuPatient">{{p.numSecuPatient}}</option></select></div>
        <button class="btn btn-primary" type="submit">Valider</button>

    </div>
</div>
</form>



</div>


