 <!-- <div class= "full-bg-img" style=" background: linear-gradient(45deg, rgba(30, 30, 31, 0.6), rgba(30, 30, 31, 0.6) 100%);
 height: 100%;">
  -->
 
   


    <header class="intro-header">

      
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
         
         
            <ul class="navbar-nav mr-auto">
              
              
              
              <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" href="/formulaireajout">Accueil <span class="sr-only">(current)</span></a>
              </li>
              
              <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" href="/rendezvousmed">Mes rendez-vous</a>
          </li>
             
      
                <li class="nav-item active waves-light" mdbWavesEffect>
                    <a class="nav-link" href="/patient"> Mes patients</a>
              </li>
              <div class = "col sm-4">
              <form class="form-inline waves-light" mdbWavesEffect>
                <div class="md-form">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                </div>
              </form>
            </div>

            
            </ul>
           
        
        </nav>
    </header>
    
    <br>
    <br>
<h1>Patients</h1>
<br>
<br>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">
    

		<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>


<!-- <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal" >Ajouter un patient</button> -->

<!-- MOMO -->


<table class="table table-stripped">
    <thead>
        <tr>
        <th>Nom</th>
        <th>Sexe</th>
        <th>n°CNAM</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of listePatients; let i=index">
            <td>{{p.nomPatient}}</td>
            <td>{{p.sexePatient}}</td>
            <td>{{p.p.numSecuPatient}}</td>
            <td><a class="btn btn-primary" href="/formulaireajout">Nouvelle consultation</a></td>
            <td><button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#myModal'+p.numPatient" (click)="historique(p.numPatient)">Dernières consultations</button></td>
            <td><button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#myModalordo'+p.numPatient" (click)="historiqueordo(p.numPatient)">Dernières ordonnances</button></td>
             <td><button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#myModalant'+p.numPatient" (click)="historiqueant(p.numPatient)">Antécédents</button></td>   
            <td><button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#myModalexam'+p.numPatient" (click)="historiqueexam(p.numPatient)">Derniers examens</button></td>

          
          
          </tr>
    </tbody>
  </table>





<!-- MODAL CONSULTATION -->

<!-- The Modal -->
  <div *ngFor="let p of listePatients">
<div class="modal" id="myModal{{p.numPatient}}">

  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Historique des consultations</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        
      </div>
<!-- Modal body -->
      <div class="modal-body">
      
        <table class="table table-borderless">
          <tr *ngFor="let r of listeHistoriqueConsultations; let i=index">
            
          </tr>
          <tr>
              <th>Nom </th>
              <th>Date de Consultation</th>
              <th>Motif </th>
              <th>Diagnostic </th>
          </tr>
          <tr *ngFor="let r of listeHistoriqueConsultations; let i=index">
              <td>{{r.p.nomPatient}}</td>
              <td>{{r.dateCons | date :"short"}}</td>
              <td>{{r.motifCons}}</td>
              <td>{{r.diagnostique}}</td>
                            
          </tr>
  
      </table>
<br>
      <a class="btn btn-primary" href="/formulaireajout">Nouvelle consultation</a>
     </div>
    </div>
  </div>

  </div>
</div>





<!-- MODAL ORDONNANCE -->

<!-- The Modal -->
<div *ngFor="let p of listePatients">
  <div class="modal" id="myModalordo{{p.numPatient}}">
  
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Historique des ordonnances</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
  <!-- Modal body -->
        <div class="modal-body">
        
          <table class="table table-borderless">
            
            <tr>
              <th>n° Ordonnance </th>
                <th>Date de l'ordonnance</th>
               
            </tr>
            <tr *ngFor="let o of listeHistoriqueOrdonnances; let i=index">
                <td>{{o.numOrdo}}</td>
                <td>{{o.dateOrdo | date :"short"}}</td>
                <td><button type="button"  data-toggle="modal" [attr.data-target]="'#myModalpresc'+o.numOrdo" > <i class = "fas fa-eye"></i></button></td>                            
                            
            </tr>
            
        </table>
  <br>
        <a class="btn btn-primary" href="/formulaireajout">Nouvelle consultation</a>
       </div>
      </div>
    </div>
  
    </div>
  </div>



  <!-- MODAL PRESCRIPTION DANS ORDONNANCE -->

<!-- The Modal -->
<div *ngFor="let o of listeHistoriqueOrdonnances">
  <div class="modal" id="myModalpresc{{o.numOrdo}}">
  
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Historique des ordonnances</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
  <!-- Modal body -->
        <div class="modal-body">
        
          <table class="table" class="table table-borderless">
  <thead class="thead-dark">
      <tr>
          <th>Medicament prescrit</th>
          <th>Dosage</th>
          <th>Présentation</th>
      </tr>
  </thead>
  <hr>
  <tbody class="tody-light">
      <tr *ngFor="let presc of listePrescription">
        <div *ngIf="presc.ordonnance.numOrdo==o.numOrdo">
          <td>{{presc.nomMedicament}}</td>
          <td>{{presc.dosageMedicament}}</td>
          <td>{{presc.presentationMedicament}}</td>
        </div>
      </tr>
  </tbody>
</table>
  <br>
       </div>
      </div>
    </div>
  
    </div>
  </div>




<!-- MODAL ANTECEDANT -->

<!-- The Modal -->
<div *ngFor="let p of listePatients">
  <div class="modal" id="myModalant{{p.numPatient}}">
    
  
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Historique des antécédents</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
  <!-- Modal body -->
        <div class="modal-body">
        
          <table class="table table-borderless">
            
            <tr>
                <th>Numéro d'antécédent</th>
                <th>Catégorie d'antecedent </th>
                <th>Descendant </th>
            </tr>
            <tr *ngFor="let a of listeHistoriqueAntecedents; let i=index">
                <td>{{a.numAntecedent}}</td>
                <td>{{a.catAntecedent}}</td>
                <td>{{a.descendant}}</td>
                      
            </tr>
    
        </table>
  
       </div>
      </div>
    </div>
  
    </div>
  </div>



<!-- MODAL EXAMEN -->

<!-- The Modal -->
<div *ngFor="let p of listePatients">
  <div class="modal" id="myModalant{{p.numPatient}}">
  
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Historique des antécédants</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
  <!-- Modal body -->
        <div class="modal-body">
        
          <table class="table table-borderless">
            <tr *ngFor="let a of listeHistoriqueAntecedens; let i=index">
            
            </tr>
            <tr>
                <th>Numéro d'antécédent</th>
                <th>Catégorie d'antecedant </th>
                <th>Descendant </th>
            </tr>
            <tr *ngFor="let a of listeHistoriqueAntecedents; let i=index">
                <td>{{a.numAntecedent}}</td>
                <td>{{a.catAntecedent}}</td>
                <td>{{a.descendant}}</td>
                      
            </tr>
    
        </table>
  
       </div>
      </div>
    </div>
  
    </div>
  </div>




<!-- MODAL EXAMEN -->

<!-- The Modal -->
<div *ngFor="let p of listePatients">
  <div class="modal" id="myModalexam{{p.numPatient}}">
  
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Historique des examens</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
  <!-- Modal body -->
        <div class="modal-body">
        
          <table class="table table-striped" style="width:600px">
            
            <tr>
                <th>Type</th>
                <!-- <th>Numéro de l'examen</th> -->
                <th>Description </th>
                <th>Taille </th>
                <th>Poids </th>
                <th>Température </th>
                <th>Photo </th>
            </tr>
            <tr *ngFor="let a of listeHistoriqueExamens; let i=index">
                 <td>{{a.type}}</td>  
                <!-- <td>{{a.numExamen}}</td> -->
                <td>{{a.description}}</td>
                <td>{{a.taillePatient}}</td>
                <td>{{a.poidsPatient}}</td>
                <td>{{a.temperaturePatient}}</td>  
                <td>
                  <div *ngIf="a.type=='Complementaire'">
                  <div *ngFor="let im of listeImage">
                      <img *ngIf="a.image.id==im.id" [src]="createImageFromBlob(im.pic)" height="100" width="100">
                    </div>
                  </div>
                </td>  
            </tr>
    
        </table>
  
       </div>
      </div>
    </div>
  
    </div>
    </div>

<br>