<div class= "full-bg-img" style="background-image: url(https://cn.ambafrance.org/IMG/arton23179.jpg?1569227198);background-size: cover;
background-repeat: no-repeat;">
   

    

    <header class="intro-header">

      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
         
         
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active waves-light" mdbWavesEffect>
            <a class="nav-link" href="/">Acceuil <span class="sr-only">(current)</span></a>
          </li>
          
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="/rendezvous">Rendez-vous</a>
      </li>
         
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="/examen">Examen</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="/acte">Acte</a>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" href="/patient">Patient</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="/antecedent">Antecedents</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" href="/ordonnance">Ordonnance</a>
  </li>
  <li class="nav-item waves-light" mdbWavesEffect>
    <a class="nav-link" href="/consultation">Consultation</a>
</li>
        </ul>
       
    
    </nav>
    </header>
     <hr>
     <hr>  
     
<h1>Consultation</h1>
<hr>
<hr>
<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal" >Ajouter une Consultation</button>
<hr>
<hr>


    <h2>Liste des consultations</h2>
    <hr>
    <hr>
    <table class="table table-borderless">
        <tr>
            
            <th>Date de Consultation</th>
            <th>Motif </th>
            <th>Diagnostique </th>
            <th>Patient concerné </th>
            <th>Edit</th>
        </tr>
        <tr *ngFor="let r of listeConsultations; let i=index">
            
            <td>{{r.dateCons | date :"short"}}</td>
            <td>{{r.motifCons}}</td>
            <td>{{r.diagnostique}}</td>
            <td>{{r.p.numPatient}}</td>
           <td> <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal" (click)= "updateConsultation(r,i)">Editer</button></td>
            
        </tr>

    </table>


    <!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Editer</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

<div class="modal-body">
    <h2>Ajouter une consultation</h2>
    <hr>
    
    <form [formGroup]="newConsultation" (ngSubmit)="logForm()">
      
        <div class="form-group"><label><h6>Date de Consultation</h6></label>
            <input type="date" class="form-control" formControlName="dateCons"></div>
            <div class="form-group"><label><h6>Motif</h6></label>
                <input type="text" class="form-control" formControlName="motifCons"></div>      
                <div class="form-group"><label><h6>Diagnostique</h6></label>
                    <input type="text" class="form-control" formControlName="diagnostique"></div>
                    <div class="form-group" formGroupName="p"><label> <h6>Patient</h6></label>
                      <select class="form-control" formControlName="numPatient"> <option *ngFor="let p of listePatients" [ngValue]="p.numPatient">{{p.numPatient}}</option></select></div>      
            
        
        <button class="btn btn-dark" type="submit">Valider</button>

    </form>
    </div>


  </div>
  </div>
</div>

</div>
