<div class= "full-bg-img" style="background-image: url(https://cn.ambafrance.org/IMG/arton23179.jpg?1569227198);background-size: cover;
background-repeat: no-repeat;">
   

    

    <header class="intro-header">

       
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
         
         
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active waves-light" mdbWavesEffect>
            <a class="nav-link" href="/">Acceuil <span class="sr-only">(current)</span></a>
          </li>
          
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="/rendezvous">Rendez-vous</a>
      </li>
         
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="/examen">Examen</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="/acte">Acte</a>
          </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" href="/patient">Patient</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="/antecedent">Antecedents</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" href="/ordonnance">Ordonnance</a>
  </li>
  <li class="nav-item waves-light" mdbWavesEffect>
    <a class="nav-link" href="/consultation">Consultation</a>
</li>
        </ul>
       
    
    </nav>
    </header>
     <hr>
     <hr>  
     
<h1>Antecedents</h1>
<hr>
<hr>
<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal" >Ajouter un antecedent</button>
<hr>
<hr>


    <h2>Liste des Antecedents</h2>
    <hr>
    <hr>
    <table class="table table-borderless">
        <tr>
            
            <th>Catégorie</th>
            <th>Descendant</th>
            <th>Patient concerné</th>
            <th>Edit</th>
        </tr>
        <tr *ngFor="let r of listeAntecedents; let i=index">
            
            <td>{{r.catAntecedent}}</td>
            <td>{{r.descendant}}</td>
            <td>{{r.p.numPatient}}</td>
            <!-- <td>{{a.patient.p.nomPatient}}</td> -->
           <td> <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal" (click)= "updateAntecedent(r,i)">Editer</button></td>
            
        </tr>

    </table>

    <!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Editer</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

<div class="modal-body">
    <h2>Ajouter un antecedent</h2>
    <hr>
    
    <form [formGroup]="newAntecedent" (ngSubmit)="logForm()">
        <!-- <div class="form-group"><label>Code</label>
            <input type="text" class="form-control" formControlName="NumRdv"></div> -->
        <div class="form-group"><label><h6>Catégorie</h6></label>
            <input type="text" class="form-control" formControlName="catAntecedent"></div>
            <div class="form-group"><label><h6>Descendant</h6></label>
                <input type="text" class="form-control" formControlName="descendant"></div>      
        <div class="form-group" formGroupName="p"><label> <h6>Patient</h6></label>
            <select class="form-control" formControlName="numPatient"> <option *ngFor="let p of listePatients" [ngValue]="p.numPatient">{{p.numPatient}}</option></select></div>
        <button class="btn btn-dark" type="submit">Valider</button>

    </form>
    </div>


  </div>
  </div>
</div>


