<header class="intro-header">

      
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
   
   
      <ul class="navbar-nav mr-auto">
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/patientsec">Patients</a>
    </li>
    <li class="nav-item active waves-light" mdbWavesEffect>
      <a class="nav-link" href="/rendezvous">Rendez-Vous</a>
</li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/cnam"> Dossiers CNAM</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/caisse">Comptes cabinet</a>
        </li>
        <div class = "col sm-4">
          <form class="form-inline waves-light" mdbWavesEffect>
            <div class="md-form">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
          </form>
        </div>

      </ul>
     
  
  </nav>
</header>
     <br>
     <br>  
     
<h1>Rendez Vous</h1>

<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
	
		<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<br>
<br>


  
    <table class="table table-striped">
        <tr>
            <th>Presence au Rendez Vous</th>
            <th>Date du Rendez Vous</th>
            <th>Patient concerné</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        <tr *ngFor="let r of listeRendezVous; let i=index">
            
            <td>{{r.presenceRdv}}</td>
            <td>{{r.dateRdv | date :"short"}}</td>
            <td>{{r.p.numPatient}}</td>
            <!-- <td>{{a.patient.p.nomPatient}}</td> -->
            <td><button class="btn btn-primary" type="submit" (click)="delRendezvous(r.numRdv,i)"> <i class="far fa-trash-alt"></i></button></td>
            <td><button class="btn btn-primary" type="submit" data-toggle="modal" data-target="#myModal" (click)= "updateRendezvous(r,i)">Editer</button></td>
        </tr>
    </table>
<br>
<br>

<br>
<a class="btn btn-primary" href="/formajoutsec">Nouveau rdv</a>
<br>
<br>
<br>

<div class="modal" id="myModal">
<div class="modal-dialog">
  <div class="modal-content">


    <div class="modal-header">
      <h4 class="modal-title">Editer</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

<div class="modal-body">
  
    <br>
    <form [formGroup]="newRendezvous" (ngSubmit)="logForm()">
        <!-- <div class="form-group"><label>Code</label>
            <input type="text" class="form-control" formControlName="NumRdv"></div> -->
        <div class="form-group"><label><h6>Presence</h6></label>
            <input type="text" class="form-control" formControlName="presenceRdv"></div>
            <div class="form-group"><label><h6>Date du rdv</h6></label>
                <input type="date" class="form-control" formControlName="dateRdv"></div>      
        <div class="form-group" formGroupName="p"><label> <h6>Patient</h6></label>
            <select class="form-control" formControlName="numPatient"> <option *ngFor="let p of listePatients" [ngValue]="p.numPatient">{{p.numPatient}}</option></select></div>
        <button class="btn btn-dark" type="submit">Valider</button>

    </form>
</div>
</div>