<header class="intro-header">

      
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
   
   
      <ul class="navbar-nav mr-auto">
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/patientsec">Patients</a>
    </li>
    <li class="nav-item waves-light" mdbWavesEffect>
      <a class="nav-link" href="/rendezvous">Rendez-Vous</a>
</li>
        <li class="nav-item active waves-light" mdbWavesEffect>
          <a class="nav-link" href="/cnam"> Dossiers CNAM</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/caisse">Comptes cabinet</a>
        </li>
        <div class = "col sm-4">
          <form class="form-inline waves-light" mdbWavesEffect>
            <div class="md-form">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
          </form>
        </div>

      </ul>
     
  
  </nav>
</header>
     <br>
     <br>  
     
<h1> Dossiers CNAM</h1>
<br>
<br>

<table class="table table-striped">  
<tr>
<th>Date de validité</th>
            <th>Type de CNAM</th>
            <th>Taux</th>
            <th>Edit</th>
        </tr>
        <tr *ngFor="let r of listecnam; let i=index">
            
            <td>{{r.dateValidite | date :"short"}}</td>
            <td>{{r.typeCNAM}}</td>
            <td>{{r.taux}}</td>
            <!-- <td>{{a.patient.p.nomPatient}}</td> -->
           <td> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)= "updateCNAM(r,i)">Editer</button></td>
            
        </tr>

    </table>
<br>
<br>
<a class="btn btn-primary" href="/formajoutsec">Ajouter un dossier CNAM</a>

    <!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Editer</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

<div class="modal-body">
    
    <br>
    
    <form [formGroup]="newCNAM" (ngSubmit)="logForm()">
        <!-- <div class="form-group"><label>Code</label>
            <input type="text" class="form-control" formControlName="NumRdv"></div> -->
        <div class="form-group"><label><h6>Date de Validité</h6></label>
            <input type="date" class="form-control" formControlName="dateValidite"></div>
            <div class="form-group"><label><h6>Type de CNAM</h6></label>
                <input type="text" class="form-control" formControlName="typeCNAM"></div>      
                <div class="form-group"><label><h6>Taux</h6></label>
                    <input type="text" class="form-control" formControlName="taux"></div>      
            
        
        <button class="btn btn-dark" type="submit">Valider</button>

    </form>
    </div>


  </div>
  </div>
</div>


