
<div class="full-bg-img" style="background-image: url(https://cn.ambafrance.org/IMG/arton23179.jpg?1569227198);background-size: cover;
background-repeat: no-repeat;">
    <header class="intro-header">


        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">


            <ul class="navbar-nav mr-auto">
                <li class="nav-item active waves-light" mdbWavesEffect>
                    <a class="nav-link" href="/">Acceuil <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" href="/rendezvous">Rendez-vous</a>
                </li>

                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" href="/examen">Examen</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" href="/Medicament">Medicament</a>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" href="/patient">Patient</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" href="/antecedent">Antecedents</a>
                </li>
            </ul>


        </nav>
    </header>
    <hr>
    <hr>

    <div class="body">
        <h1>Liste des Medicaments</h1>
        <hr>
        <hr>
        <hr>
        <table class="table" class="table table-borderless">
            <thead class="thead-dark">
                <tr>
                    <th>Nom du Medicament</th>
                    <th>Dosage</th>
                    <th>Présentation</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <hr>
            <tbody class="tody-light">
                <tr *ngFor="let m of listeMedicaments; let i=index">

                    <td>{{m.nomMedicament}}</td>
                    <td>{{m.dosageMedicament}}</td>
                    <td>{{m.presentationMedicament}}</td>
                    <td><button type="submit" (click)="deleteMedicament(m.numMedicament,i)"><i
                                class="far fa-trash-alt"></i></button></td>
                    <td><button type="submit" (click)="updateMedicament(m,i)"><i class="fas fa-edit"></i></button></td>
                </tr>
            </tbody>
        </table>


        <h1>Ajouter un Medicament</h1>
        <hr>
        <div class="row">

            <form [formGroup]="newMedicament" (ngSubmit)="logForm()">
                <div class="col sm-4">
                    <div class="form-group"><label>
                            <h6>Nom </h6>
                        </label>
                        <input type="text" class="form-control" formControlName="nomMedicament"></div>
                </div>
                <div class="col sm-4">
                    <div class="form-group"><label>
                            <h6>Dosage</h6>
                        </label>
                        <input type="text" class="form-control" formControlName="dosageMedicament"></div>
                </div>
                <div class="col sm-4">
                    <div class="form-group"><label>
                            <h6>Presentation</h6>
                        </label>
                        <input type="text" class="form-control" formControlName="presentationMedicament"></div>
                </div>
                <button class="btn btn-dark" type="submit">Valider</button>
            </form>
         </div>
    </div>
</div>