<div class="full-bg-img" style="background-image: url(https://cn.ambafrance.org/IMG/arton23179.jpg?1569227198);background-size: cover;
background-repeat: no-repeat;">
 <header class="intro-header">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
         
         
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active waves-light" mdbWavesEffect>
            <a class="nav-link" href="/">Acceuil <span class="sr-only">(current)</span></a>
          </li>
          
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="/rendezvous">Rendez-vous</a>
      </li>
         
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="/examen">Examen</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="/acte">Acte</a>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" href="/patient">Patient</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="/antecedent">Antecedents</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" href="/ordonnance">Ordonnance</a>
  </li>
  <li class="nav-item waves-light" mdbWavesEffect>
    <a class="nav-link" href="/consultation">Consultation</a>
</li>
        </ul>
       
    
    </nav>
  </header>
   <hr>
   <hr>  
   
<div class="body">
    <h1>Liste des Actes</h1>
    <hr>
    <hr>
    <hr>

    <div class="body">
        <h1>Liste des Actes</h1>
        <hr>
        <hr>
        <hr>
        <table class="table" class="table table-borderless">
            <thead class="thead-dark">
                <tr>
                    <th>Code de l'acte</th>
                    <th>Tarif</th>
                    <th>Consultation concernée</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <hr>
            <tbody class="tody-light">
                <tr *ngFor="let a of listeActes; let i=index">
                    <td>{{a.codeActe}}</td>
                    <td>{{a.tarifActe}}</td>
                    <td><button type="button" data-toggle="modal" [attr.data-target]="'#Modal'+a.numActe">
                            <i class="fas fa-eye"></i>
                        </button></td>
                    <td><button type="submit" (click)="deleteActe(a.numActe,i)"><i
                                class="far fa-trash-alt"></i></button></td>
                    <td><button type="submit" (click)="updateActe(a,i)"><i class="fas fa-edit"></i></button></td>
                </tr>
            </tbody>
        </table>

        <div *ngFor="let a of listeActes">
            <div class="modal" id="Modal{{a.numActe}}">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Consultation Concernée</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body" *ngFor="let c of listeConsultations">
                            <table border="1" class="table table-hover " *ngIf="a.consult.numCons==c.numCons">
                                <tr>
                                    <th>Numéro de consultation</th>
                                    <th>Patient concerné</th>
                                    <th>Date de la consultation</th>
                                    <th>Motif</th>
                                    <th>Diagnostique</th>
                                </tr>

                                <tr>
                                    <td>{{c.numCons}}</td>
                                    <td>{{c.p.nomPatient}}</td>
                                    <td>{{c.dateCons}}</td>
                                    <td>{{c.motifCons}}</td>
                                    <td>{{c.diagnostique}}</td>
                                </tr>


                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <h1>Ajouter un acte</h1>
        <hr>
        <div class="row">

            <form [formGroup]="newActe" (ngSubmit)="logForm()">
                <div class="col sm-4">
                    <div class="form-group"><label>
                            <h6>Code </h6>
                        </label>
                        <input type="text" class="form-control" formControlName="codeActe"></div>
                </div>
                <div class="col sm-4">
                    <div class="form-group"><label>
                            <h6>Tarif</h6>
                        </label>
                        <input type="text" class="form-control" formControlName="tarifActe"></div>
                </div>
                <div class="col sm-4">
                    <div class="form-group" formGroupName="consult"><label>
                            <h6>Consultation</h6>
                        </label>
                        <select class="form-control" formControlName="numCons">
                            <option *ngFor="let c of listeConsultations" [ngValue]="c.numCons">{{c.numCons}}</option>
                        </select></div>
                    <button class="btn btn-dark" type="submit">Valider</button>

                </div>


            </form>
        </div>
    </div></div>