
<header class="intro-header">

      
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
     
     
        <ul class="navbar-nav mr-auto">
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="/formulaireajout">Accueil <span class="sr-only">(current)</span></a>
          </li>
          
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="/rendezvousmed">Mes rendez-vous</a>
      </li>
         
  
            <li class="nav-item active waves-light" mdbWavesEffect>
                <a class="nav-link" href="/patient"> Mes patients</a>
          </li>
          
  
        </ul>
       
    
    </nav>
  </header>
  
  
  <hr>
  <hr>
       <hr>
       <hr>  
       
  <h1>Rendez Vous</h1>
  
  <head>
  <meta charset="ISO-8859-1">
  <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous">
      
          <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <hr>
  <hr>
  
  
    
      <table class="table table-striped">
          <tr>
              <th>Presence au Rendez Vous</th>
              <th>Date du Rendez Vous</th>
              <th>Patient concerné</th>
              <th>Delete</th>
              <th>Edit</th>
          </tr>
          <tr *ngFor="let r of listeRendezVous; let i=index">
              
              <td>{{r.presenceRdv}}</td>
              <td>{{r.dateRdv | date :"short"}}</td>
              <td>{{r.p.numPatient}}</td>
              <!-- <td>{{a.patient.p.nomPatient}}</td> -->
              <td><button class="btn btn-primary" type="submit" (click)="delRendezvous(r.numRdv,i)">Supprimer</button></td>
              <td><button class="btn btn-primary" type="submit" data-toggle="modal" data-target="#myModal" (click)= "updateRendezvous(r,i)">Editer</button></td>
          </tr>
      </table>
  <hr>
  <hr>
  
  
  <hr>
  <hr>
  
  <div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
  
  
      <div class="modal-header">
        <h4 class="modal-title">Editer</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
  
  <div class="modal-body">
    
      <hr>
      <form [formGroup]="newRendezvous" (ngSubmit)="logForm()">
          <!-- <div class="form-group"><label>Code</label>
              <input type="text" class="form-control" formControlName="NumRdv"></div> -->
          <div class="form-group"><label><h6>Presence</h6></label>
              <input type="text" class="form-control" formControlName="presenceRdv"></div>
              <div class="form-group"><label><h6>Date du rdv</h6></label>
                  <input type="date" class="form-control" formControlName="dateRdv"></div>      
          <div class="form-group" formGroupName="p"><label> <h6>Patient</h6></label>
              <select class="form-control" formControlName="numPatient"> <option *ngFor="let p of listePatients" [ngValue]="p.numPatient">{{p.numPatient}}</option></select></div>
          <button class="btn btn-dark" type="submit">Valider</button>
  
      </form>
  </div>
  </div>
