<header class="intro-header">

      
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
   
   
      <ul class="navbar-nav mr-auto">
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/patientsec">Patients</a>
    </li>
    <li class="nav-item waves-light" mdbWavesEffect>
      <a class="nav-link" href="/rendezvous">Rendez-Vous</a>
</li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/cnam"> Dossiers CNAM</a>
        </li>
        <li class="nav-item active waves-light" mdbWavesEffect>
          <a class="nav-link" href="/caisse">Comptes cabinet</a>
        </li>
        <div class = "col sm-4">
          <form class="form-inline waves-light" mdbWavesEffect>
            <div class="md-form">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
          </form>
        </div>

      </ul>
     
  
  </nav>
</header>

  <br>
  <br>

  <div class="body">
    <h1> Comptes cabinet</h1>
    <br>
    <br>
    <table class="table table-striped">
    
        <tr>
          <th>Type</th>
          <th>Montant </th>
          <th>Date dépense</th>
          <th>Motif dépense</th>
          <th>Date recette</th>
          <th>Type recette </th>
          <th>Consultation concernée </th>
          <th>Patient concerné</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
  
      <tr *ngFor="let c of listeCaisses; let i=index">
        <td>{{c.type_caisse}} </td>
        <td>{{c.montant}}</td>
        <td>{{c.dateDepense | date :"short"}}</td>
        <td>{{c.motifDepense}}</td>
        <td>{{c.dateRecette | date :"short"}}</td>
        <td>{{c.typeRecette}}</td>
        <td>{{c.consult.numCons}}</td> 
        <td>{{c.consult.p.nomPatient}}</td>
  
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)= "updateCaisse(c,i)">Editer</button></td>
       <td><button type="submit" class="btn btn-primary" (click)="deleteCaisse(c.numCaisse,i)"><i class="far fa-trash-alt"></i></button></td>
      
      </tr>
    </table> 

    
<a class="btn btn-primary" href="/formajoutsec">Nouvelle operation</a>

      <!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Editer</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

     
<div class="modal-body">

<br>
    <h1>Modifier la caisse</h1><br> <br>
    <form [formGroup]='newType' (ngSubmit)="addType()">
      <div class="col sm-4"><label>
          <h6>Type de caisse</h6>
        </label>
        <select class="form-control" formControlName="type_caisse">
          <option value="Recettes">Recettes</option>
          <option value="Depenses">Depenses</option>
          <option value="Impayes">Impayes</option>
        </select></div>
        <br>
        <br>
      <button type="submit" class="btn btn-primary">Soumettre</button>
    </form>

  <br>
  <br>
     <div *ngIf="newCaisse.controls['type_caisse'].value!=null">
      <form [formGroup]="newCaisse" (ngSubmit)="addCaisse()">
  
        <br>
        <br>
            <div *ngIf="newCaisse.controls['type_caisse'].value=='Recettes'">
              
  <div class="col sm-4">
            <div class="form-group" formGroupName="consult"><label>
                <br><br><h6>Consultation</h6>
              </label>
              <select class="form-control" formControlName="numCons">
                <option *ngFor="let c of listeConsultations" [ngValue]="c.numCons">{{c.numCons}} ; {{c.p.nomPatient}}</option>
              </select></div>
          </div>
          <div class="col sm-4">
            <div class="form-group"><label>
                <h6>Date de la recette </h6>
              </label>
              <input type="date" class="form-control" formControlName="dateRecette"></div>
          </div>
          <div class="col sm-4">
              <div class="form-group"><label><h6>Type de recette</h6></label>
                  <input type="text" class="form-control" formControlName="typeRecette"></div>
        </div>
        <div class="col sm-4">
          <div class="form-group"><label><h6>Montant</h6></label>
              <input type="text" class="form-control" formControlName="montant"></div>
    </div>
            </div>  
         
  
          <div *ngIf="newCaisse.controls['type_caisse'].value=='Depenses'">
            <div class="col sm-4">
              <div class="form-group"><label>
                  <h6>Date de la dépense </h6>
                </label>
                <input type="date" class="form-control" formControlName="dateDepense"></div>
            </div>
            <div class="col sm-4">
                <div class="form-group"><label><h6>Motif</h6></label>
                    <input type="text" class="form-control" formControlName="motifDepense"></div>
          </div>
          <div class="col sm-4">
            <div class="form-group"><label><h6>Montant</h6></label>
                <input type="text" class="form-control" formControlName="montant"></div>
      </div>
          </div>
          <div *ngIf="newCaisse.controls['type_caisse'].value=='Impayes'">
            <div class="col sm-4">
              <div class="form-group" formGroupName="consult"><label>
                  <h6>Consultation</h6>
                </label>
                <select class="form-control" formControlName="numCons">
                  <option *ngFor="let c of listeConsultations" [ngValue]="c.numCons"> {{c.numCons}} ; {{c.p.nomPatient}}</option>
                </select></div>
            </div>
              <div class="col sm-4">
                <div class="form-group"><label><h6>Montant</h6></label>
                    <input type="text" class="form-control" formControlName="montant"></div>
          </div>
          
        </div>
        <button class="btn btn-primary" type="submit">Valider</button>
        </form>
     </div>
    
    </div>
    </div>
    

<br>
<br>
<br>
     </div>

    </div>