<div class="full-bg-img" style="background-image: url(https://cn.ambafrance.org/IMG/arton23179.jpg?1569227198);background-size: cover;
background-repeat: no-repeat;">

  <header class="intro-header">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">


      <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbWavesEffect>
          <a class="nav-link" href="/">Acceuil <span class="sr-only">(current)</span></a>
        </li>

     
          <a class="nav-link" href="/rendezvous">Rendez-vous</a>
        

        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/examen">Examen</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/acte">Acte</a>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/patient">Patient</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/antecedent">Antecedents</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/ordonnance">Ordonnance</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/consultation">Consultation</a>
        </li>


        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/examen">Examen</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/acte">Acte</a>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/patient">Patient</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/antecedent">Antecedents</a>
        </li>
      </ul>


    </nav>
  </header>
  <hr>
  <hr>
  <h1>Examen</h1>
  <hr>
  <hr>
  <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal">Ajouter un examen</button>
  <hr>
  <hr>


  <hr>
  <hr>

  <div class="body">
    <h1>Liste des Examens</h1>
    <hr>
    <hr>
    <table class="table table-borderless">
      <thead class="thead-dark">
        <tr>

          <th>Consultation concernée</th>
          <th>Type d'examen</th>
          <th>Description</th>
          <th>Poids du patient</th>
          <th>Taille du patient</th>
          <th>Température du patient</th>
          <th>Tension du patient</th>
          <th>Photo examen complémentaire</th>
          <th>Réservation examen complémentaire</th>
          <th>Edit</th>
          <th>Delete</th>

        </tr>
      </thead>
      <tr *ngFor="let e of listeExamens; let i=index">
        <td><button type="button" data-toggle="modal" [attr.data-target]="'#Modal'+e.numExamen">
            <i class="fas fa-eye"></i>
          </button></td>
        <td>{{e.type}}</td>
        <td>{{e.description}}</td>
        <td>{{e.poidsPatient}}</td>
        <td>{{e.taillePatient}}</td>
        <td>{{e.temperaturePatient}}</td>
        <td>{{e.tensionPatient}}</td>
        <!-- <td>{{e.photExamenComplementaire}}</td> -->
        <td>
          <div *ngIf="e.type=='Complementaire'">
          <div *ngFor="let im of listeImage">
              <img *ngIf="e.image.id==im.id" [src]="createImageFromBlob(im.pic)" height="100" width="100">
            </div>
          </div>
        </td>
        <td>{{e.resaExamenComplementaire}}</td>

        <td><button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal"
            (click)="updateExamen(e,i)">Editer</button></td>
        <td><button type="submit" (click)="deleteExamen(e.numExamen,i)"><i class="far fa-trash-alt"></i></button></td>

      </tr>
    </table>



    <div *ngFor="let e of listeExamens">
      <div class="modal" id="Modal{{e.numExamen}}">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Consultation Concernée</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" *ngFor="let c of listeConsultations">
              <table class="table table-hover " *ngIf="e.consult.numCons==c.numCons">
                <tr>
                  <th>Numéro de consultation</th>
                  <th>Patient concerné</th>
                  <th>Date de la consultation</th>
                  <th>Motif</th>
                  <th>Diagnostique</th>
                </tr>

                <tr>
                  <td>{{c.numCons}}</td>
                  <td>{{c.p.nomPatient}}</td>
                  <td>{{c.dateCons | date :"short"}}</td>
                  <td>{{c.motifCons}}</td>
                  <td>{{c.diagnostique}}</td>
                </tr>


              </table>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Editer</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>



          <div class="modal-body">
            <form [formGroup]='newType' (ngSubmit)="addType()">
              <div class="col sm-4"><label>
                  <h6>Type d'examen</h6>
                </label>
                <select class="form-control" formControlName="type">
                  <option value="Clinique">Clinique</option>
                  <option value="Complementaire">Complementaire</option>
                </select></div>
              <button type="submit" class="btn btn-dark">Ajouter</button>
            </form>

            <div *ngIf="newExam.controls['type'].value!=null">
              <form [formGroup]="newExam" (ngSubmit)="addExam()">
                <div class="col sm-4">
                  <div class="form-group" formGroupName="consult"><label>
                      <h6>Consultation</h6>
                    </label>
                    <select class="form-control" formControlName="numCons">
                      <option *ngFor="let c of listeConsultations" [ngValue]="c.numCons">{{c.numCons}}</option>
                    </select></div>
                </div>

                <div class="col sm-4">
                  <div class="form-group"><label>
                      <h6>Description </h6>
                    </label>
                    <textarea class="form-control" formControlName="description"></textarea></div>
                </div>

                <div *ngIf="newExam.controls['type'].value=='Clinique'">

                  <div class="col sm-4">
                    <div class="form-group"><label>
                        <h6>Taille</h6>
                      </label>
                      <input type="text" class="form-control" formControlName="taillePatient">
                    </div>
                  </div>

                  <div class="col sm-4">
                    <div class="form-group"><label>
                        <h6>Poids</h6>
                      </label>
                      <input type="text" class="form-control" formControlName="poidsPatient">
                    </div>
                  </div>

                  <div class="col sm-4">
                    <div class="form-group">
                      <label>
                        <h6>Tension</h6>
                      </label>
                      <input type="text" class="form-control" formControlName="tensionPatient">
                    </div>
                  </div>

                  <div class="col sm-4">
                    <div class="form-group">
                      <label>
                        <h6>Température</h6>
                      </label>
                      <input type="text" class="form-control" formControlName="temperaturePatient">
                    </div>
                  </div>

                </div>

                <div *ngIf="newExam.controls['type'].value=='Complementaire'">
                  <div class="col sm-4">
                    <div class="form-group"><label>
                        <h6>Résa Examen </h6>
                      </label>
                      <input type="text" class="form-control" formControlName="resaExamenComplementaire"></div>
                  </div>
                  <div class="col sm-4">
            
                    <div>
                      <h6>Photos examens</h6>
                      <input type="file" formControlName="photExamenComplementaire" (change)="onFileChanged($event)">
                      <img [src]="imgURL" height="200" *ngIf="imgURL">
                    </div>
                    <input type="button" (click)="onUpload()" value="upload">
                    <hr />
                   

                  </div>
                </div>
                <button class="btn btn-dark" type="button" (click)="addExam()" data-dismiss="modal">Valider</button>

              </form>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>